{% extends 'base.html' %}
{% block content %}
<h2>Add / Restock Product</h2>
<form method="post" class="row g-3" novalidate>
  {{ form.hidden_tag() }}
  {% for field in form if field.name != 'csrf_token' and field.type != 'SubmitField' %}
  <div class="col-md-6">
    {{ field.label(class_='form-label') }}
    {{ field(class_='form-control') }}
    {% if field.errors %}
      <div class="text-danger small">{{ field.errors[0] }}</div>
    {% endif %}
  </div>
  {% endfor %}
  <div class="col-12"><button class="btn btn-success">Submit</button></div>
</form>
{% endblock %}
