{% extends 'base.html' %}
{% block content %}
<h2>Record Sale</h2>
<form method="post" class="row g-3" novalidate>
  {{ form.hidden_tag() }}
  <div class="col-md-6">
    {{ form.product_id.label(class_='form-label') }}
    {{ form.product_id(class_='form-select') }}
  </div>
  <div class="col-md-6">
    {{ form.quantity.label(class_='form-label') }}
    {{ form.quantity(class_='form-control') }}
  </div>
  <div class="col-12"><button class="btn btn-primary">Record</button></div>
</form>
{% endblock %}
